.m2/
.idea/
.vscode/
run-logs/

**/target/
**/build/
**/.settings/
**/.classpath
**/.project

frontend/node_modules/
frontend/dist/
frontend/.angular/

*.log
*.tmp
*.swp

.DS_Store
Thumbs.db


MAPS PDF QRCODE 